#samus {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(36px * 2);
	height: calc(45px * 2);
	background-image: url(../images/samus/SamusFront.gif);
	background-size: calc(36px * 2) calc(45px * 2);
	background-position: center;
}

#samus.run-left{
	background-image: url(../images/samus/SamusRun.gif);
	animation: run_to_left 2.5s linear infinite forwards;
}

#samus.run-right{
	background-image: url(../images/samus/SamusVariaRun-1.gif);
	animation: run_to_right 2.5s linear infinite forwards;
}

#samus.angle-up-left{
	background-image: url(../images/samus/Samus_VariaSuit_angleup_rightg.gif);
}

#samus.angle-up-right{
	background-image: url(../images/samus/Samus_VariaSuit_angleup_leftgi.gif);
}

#samus.angle-down-left{
	background-image: url(../images/samus/Samus_VariaSuit_angledown_right.gif);
}

#samus.angle-down-right{
	background-image: url(../images/samus/Samus_VariaSuit_angledown_left.gif);
}

#samus.morph {
	top: 55%;
	width: 36px;
	height: 45px;
	background-image: url(../images/samus/morphball.gif);
	background-size: 36px 45px;
	background-position: center;	
}

#samus.fire::after {
	content: '';
	position: absolute;
	animation: projectile_right 1s;
}

@keyframes projectile_right {
	
}

#samus.jump {
	background-image: url(../images/samus/SamusJump-1.gif);
	animation: jump 1s forwards;
}

#samus.pause {
	animation-play-state: paused;
}

@keyframes run_to_right {
	0%,100% {left: 50%;}
	50% {left: calc(100% + 10px);}
	50.001% {left: -10px;}
}

@keyframes run_to_left {
	0%,100% {left: 50%;}
	50% {left: -10px;}
	50.001% {left: calc(100% + 10px);}
}

/* @keyframes jump {
	0% {background-image: url(../images/samus/SamusFront.gif);}
	1%,99% {
		top: 50%;
		background-image: url(../images/samus/SamusJump-1.gif);
	}
	20% {top: 50%;}
	50%{top: 30%;}
	100% {background-image: url(../images/samus/SamusFront.gif);}
} */